.site-header {
    background-color: #2980b9;
    padding: 10px 0;
    .top-menu {
        display: flex;
        align-items: center;
        @include clear-list;
        li {
            margin-right: 35px;
            flex: 0 0 auto;
            @include bp(xs) {
                display: none;
            } // xs
            @include bp(sm) {
                display: none;
            } // sm
            &.mobile {
                display: none;
                @include bp(xs) {
                    display: block;
                } // xs
                @include bp(sm) {
                    display: block;
                } // sm
            } // &.mobile
            &.home {
                @include bp(xs) {
                    display: block;
                } // xs
                @include bp(sm) {
                    display: block;
                } // sm
            } // &.home
            a {
                text-decoration: none;
                color: white;
                &.cheesburger {
                    display: none;
                    &:before {
                        @include icon-fa;
                        content: '\f0c9';
                    } // &:before
                    @include bp(xs) {
                        @include inline-middle;
                    } // xs
                    @include bp(sm) {
                        @include inline-middle;
                    } // sm
                } // &.cheesburger
                &.home-link {
                    &:before {
                        @include icon-fa;
                        content: '\f015';
                    } // &:before
                    @include bp(xs) {
                        @include inline-middle;
                    } // xs
                    @include bp(sm) {
                        @include inline-middle;
                    } // sm
                } // &.home-link
            } // a
            input {
                padding: 10px;
                border-radius: 2px;
                border: 1px solid white;
                width: 250px;
            } // input
            button {
                i {
                    width: 22px;
                    height: 22px;
                    color: white;
                    &:before {
                        content: '\f002';
                        display: inline-block;
                        font: normal normal normal 22px/1 FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                    } // &:before
                } // i
            } // button
        } // li
    } // top-menu
} // site-header
