.side-block {
    + .side-block {
        margin-top: 40px;
    } // + side-block
    .side-title {
        font-size: rem(18);
        font-weight: bold;
        margin-top: 0;
    } // side-title
    ul {
        @include clear-list;
        li + li {
            margin-top: 10px;
        } // li + li
        .side-post {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            line-height: 1;
            border-top: 1px solid #E7E7E7;
            padding-top: 10px;
            > div {
                flex: 0 auto;
                &.image {
                    width: 60px;
                    margin-right: 10px;
                    img {
                        border-radius: 100%;
                    } // img
                } // &.image
                &.link {
                    width: calc(100% - 70px);
                    &.full {
                        width: 100%;
                    } // &.full
                } // &.link
            } // > div
            h3 {
                margin: 0;
            } // h3
            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: rem(16);
            } // a
            time {
                color: #A3A3A3;
                font-size: rem(14);
            } // time
        } // side-post
    } // ul
} // side-block
