.site-container {
    margin: 40px 0;
    @include container;
    display: flex;
    flex-flow: row nowrap;
    .content {
        flex: 1 calc(100% - 315px);
        padding-right: 15px;
        @include bp(xs) {
            padding-right: 0px;
        } // xs
        @include bp(sm) {
            padding-right: 0px;
        } // sm
    } // content
    .site-side {
        flex: 1 315px;
        padding-left: 15px;
        @include bp(xs) {
            display: none;
        } // xs
        @include bp(sm) {
            display: none;
        } // sm
    } // site-side
} // site-container
