{% load endless %}
{% paginate posts %}
{% for post in posts %}
<!-- post -->
<div class="post">
    <header>
        <div class="meta">
            <div class="meta-block author-and-time">
                <time>{{ post.date.date }}</time>
            </div>
            <nav class="meta-block tags">
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_url }}">{{ tag.title }}</a>
                {% endfor %}
            </nav>
        </div>
        {% if post.poster %}
            <a href="{{ post.get_url }}" class="poster-small"
                style="background-image: url({{ post.get_poster.url }});"></a>
        {% endif %}
        <h2 class="post-title">
            <a href="{{ post.get_url }}" class="preview-link">{{ post.title }}</a>
        </h2>
    </header>
    <article class="post-content">
        <a href="{{ post.get_url }}" class="preview-link">{{ post.get_short_content }}</a>
    </article>
</div>
<!-- /post -->
{% endfor %}
{% show_more '<span class="more-text">Показать еще</span>' %}
