{% extends "base.html" %}

{% block poster %}
    {% if tag.poster %}
    <!-- poster -->
    <section class="poster">
        <div class="poster-content" style="background-image: url({{ tag.get_poster.url }});"></div>
    </section>
    <!-- /poster -->
    {% endif %}
{% endblock %}

{% block external_title %}
<!-- result-of-search -->
<div class="result-of-search">
    <h4>Записи с меткой {{ tag.name }}</h4>
</div>
<!-- /result-of-search -->
{% endblock %}

{% block content %}
{% include page_template %}
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock extra_js %}
